body {
    background: #56CCF2; 
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  
    background: linear-gradient(to right, #2F80ED, #56CCF2); 
}
h1{
    color: black;
    text-align: center;
    font-size: 35px;
}
.contenido{
    background-color: white;
    margin: 120px;
    text-align: center;
    border-radius: 10px;
}
.btn{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: white;
    font-size: 15px;
    border: 1px solid #ffff;
    margin: 10px 0;
    border-radius: 7px;
}
.no:hover{
    display: none;
}
.footer{
    font-size: 12px;
    text-align: center;
    color: white;
}
